{% extends 'base.html' %}

{% load static %}

{% block title %}
    Avatar
{% endblock %}

{% block content %}
    <div class="addform">
    <form action= "{% url 'getdressed'%}" method="post">
        {% csrf_token %}
        <p><label class="form-label" for="{{ form.user.id_for_label }}">{{form.user.label}}: </label> {{ form.user }} </p>
        <div> {{ form.user.errors }} </div>
        <p><label class="form-label" for="{{ form.phone_number.id_for_label }}">{{form.phone_number.label}}: </label> {{ form.phone_number }} </p>
        <button type="submit">Add</button>
        <img class="addimg" src="{% static 'images/avatar.png' %}">
        <p> YOU PERSONAL AVATAR </p>
    </form>    
    </div>
{% endblock %}