{% extends 'base.html' %}

{% load static %}

{% block title %}
    Edit your avatar
{% endblock %}

{% block content %}
    <div class="addform">
        <h1>Welcome to your PERSONAL AVATAR </h1>
        <p>You can edit your account using the following form:</p>

        <form action="." method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            <a href="{% url "password_change" %}">change your password</a>
            {{ profile_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save changes"></p>
            <img class="addimg" src="{% static 'images/avatar.png' %}">
        </form>   
    </div>
{% endblock %}