{% extends 'base.html' %}

{% load static %}

{% block title %}
    Edit your avatar
{% endblock %}

{% block content %}
<div class="addb">
    <div class="addform">
        <div class="add">
            <h1 class="h2get">Персональний AVATAR </h1>
            <img class="addimg" src="{% static 'images/avatar.png' %}"> 
            <p class="p2get1">Перед замовленням змінюйте свої дані на актуальні,</p>
            <p class="p2get1">вкажіть розміри у см (90,7)</p>
        </div>
        <form action="." method="post">
            <div class="add1">
                {{ user_form.as_p }}
            </div>
            <div class="add2">

                {{ profile_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Save changes"></p>
            </div>
    
        </form>
    </div>

</div>
{% endblock %}