{% load static %}
<html lang="en">

<body>
    <meta charset="UTF-8">
    <meta name="viewport"content="wigth=device-width,initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/getdressed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/getdressed_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prod.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prod_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/addavatar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/addavatar_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/teach.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/teach_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/collection.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/collection_media.css' %}">
</body>

<head>
    <nav class="navbar"> 
        <div class="out">
            <div class="in one">
                <a href="{% url 'getdressed'%}">CLOTHES</a>
            </div>
            
            <div class="in two">
                <a href="{% url 'home'%}" class="logo">
                    <img class="imagelogo" src="{% static 'images/logo.svg' %}">
                </a>
            </div>
            <div class="in three">
                <a href="{% url 'teach'%}">LEARN</a>
            </div>   
        </div>
    </nav>
</head>


{% block content %}
{% endblock %}

