<footer>
    {% load static %}
    <div class="ozhinafooter">
        <div class="pfooter">
            <a class="polit" href="{% url "political" %}"><p >Політика конфіденційності</p></a>
        </div>
        <div class="pfooter">
            <h3>Пропозиції</h3>
            <p class="ozfter" >ozhina.inc@gmail.com</p>
        </div>
        <div class="pfooter">
            <h3>Звя'зок</h3>
            <p class="ozfter" >+38 097 191 1367</p>
            <img class="ozfim" src="{% static 'images/masseges.png' %}">
        </div>
        <div class="ozfooter">
            <img src="{% static 'images/ozhinasmall.svg' %}">
            <p class="lead_text"> copyright &copy; 2021 OZHINA </p>
        </div>
    </div>
</footer>