<footer>
    {% load static %}
    <div class="ozhinafooter">
        <div class="ozfooter">
            <img src="{% static 'images/ozhinasmall.svg' %}">
            <p class="lead_text"> copyright &copy; 2021 OZHINA </p>
        </div>
        <div class="pfooter">
            <h3>Звя'зок</h3>
            <p class="ozfter" >+380989581502</p>
        </div>
        <div class="pfooter">
            <h3>Пропозиції</h3>
            <p class="ozfter" >ozhina.inc@gmail.com</p>
        </div>
        <div class="pfooter">
            <h3>Політика конфіденційності</h3p>
        </div>
        
    </div>
</footer>