{% extends 'base.html' %}

{% load static %}

{% block title %}
    Одягтися
{% endblock %}

{% block content %}
    <div class="catcollections">
        <div class="row">
            <div class="rowon">
                <div class="sphr"><a> OUR INFLUENCE ON FASHION </a></div>
                <div class="rowtwo">
                    {% for category in links %}
                    <a class="acategory" href="{{category.get_url}}"> {{category.name}} </a>
                    {% endfor %}
                </div>
            </div>
            <div class="userblock">
                <div class="glow-on-hover" >
                    <img src="{% static 'images/form.svg' %}">
                </div>
            </div>
            <div class="uss">
                    {% if request.user.is_authenticated %}
                    <a class="usrprofon" href="{% url "addavatar" %}">{{ request.user.first_name }}</a>
                    <a class="usrprof" href="{% url "logout" %}">logout</a>
                    {% else %}
                    <a class="usrprof" href="{% url "login" %}">login</a>
                    {% endif %}      
            </div>
             
        </div> 
        </div>
        <div class="imgcoll">  
            <div class="container">

                {% for product in products %}
                    <div class="cont">
                        <a class="r1"  href="{{product.get_url}}" > <img class="r1" src="{{product.image.url}}" alt=" {{product.name_collection}} "></a>
                        <p class="r2">  </p>
                        <a class="r3" href="{{product.get_url}}"> {{product.name_collection}} </a>
                    </div>
                {% endfor %}
                  
            </div>
        </div>

    </div>


    <div class="create">
        <h1>Створюємо разом</h1>
    </div>
    
    <div class="grid">
        <div class="creategrid">
            <div class="grid-item item1">
                <p> віртуальний аватар за параметрами вашого тіла. </p>
            </div> 
            <div class="grid-item item2">
                <p> віртуальний одяг за параметрами вашого аватару. </p>
            </div>
            
            <div class="grid-item item3">
                <p> персональну конструкторську базу данних лекал для відшивання одягу. </p>
            </div>
            <div class="grid-item item4">
                <p> реалістичну віртуальну модель поведінки одягу на тілі.</p>
            </div>
            <div class="grid-item item5">
                <p> анімацію рухів, пози для фотосессії.</p>
                </div>
            <div class="grid-item item6">
                <p> персональний віртуальний образ вашої коллекції у різних змодельованних сценах</p>
            </div>
        </div>
    </div>
{% endblock %}