{% extends 'base.html' %}

{% load static %}

{% block title %}
    Одягтися
{% endblock %}
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% block content %}
    <main class="dressed">
        <div class="catcollections">
            <div class="row">
                <div class="rowon">
                    <div class="sphr">DIRECTIONS </div>
                    <div class="rowtwo">
                        {% for category in links %}
                        <a class="acategory" href="{{category.get_url}}"> {{category.name}} </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="userblock">
                    <div class="glow-on-hover" >
                        <a href="{% url "order_create" %}"> <img  src="{% static 'images/form.svg' %}"> </a>
                    </div>
                </div>
                <div class="uss">
                    {% if request.user.is_authenticated %}
                    <a class="usrprofon" href="{% url "edit" %}">{{ request.user.first_name }}</a>
                    <a class="usrprof" href="{% url "logout" %}"><img  src="{% static 'images/out.svg' %}"></a>
                    {% else %}
                    <a class="usrprof" href="{% url "login" %}"><img  src="{% static 'images/in.svg' %}"></a>
                    {% endif %}      
                </div>   
            </div> 
        </div>
        <section class="getcolbox">
            <div class="imgcoll">  
                <div class="container">
                    {% for product in products %}
                        <div class="cont">
                            <div class="line"></div>
                            <div class="links">
                                <a class="picts" href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name_collection}}"></a>
                                <a class="descs" href="{{product.get_url}}"> {{product.name_collection}} </a>
                            </div>
                        </div>
                    {% endfor %}   
                </div>
            </div>
            <div class="create">
                <div class="createon">
                    <h2 class="h2get">1 етап. Створення у віртуальній майстерні</h2>
                    <p class="p2get">- безкоштовний віртуальний аватар за параметрами вашого тіла<br>
                    - віртуальний одяг за параметрами вашого аватару<br>
                    - створена персональна конструкторська база данних лекал для відшивання одягу<br>
                    - реалістична віртуальна модель поведінки одягу на тілі,ступінь прилягання до тіла<br>
                    - створена анімація ваших повсякденних рухів, спостерігання поведінки одягу для забеспечення комфорту (кроки,біг,вправи), або який Ви матимете вигляд на фотосессії<br>
                    - ви матимете власний кабінет у якому буде знаходитись створенний одяг, та змодельовані сцени<br>
                    </p>
                </div>
                <div class="createon">
                    <h2 class="h2get">2 етап. Відшиваємо</h2>
                    <p class="p2get">- за лекалами створеного аватару<br>
                    - обираємо разом тканини<br>
                    - слідкуйте за поетапним технологічним процесом</p>
                </div>
            </div>
        </section>
    </main>
  
{% endblock %}