{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="ozhinabig">
        <a><img src="{% static 'images/OZHINA.svg' %}"></a>
    </div>
    
    <div class="tex">
        <div class="text">
            <p>допомагае створити та довести задуману творчу ідею до реалізації.
                Кожна людина індивідуальна і за допомогою фантазії, бумаги та пари кольорів можна відобразити її унікальність.
                Здійсніть це за різними напрямками- обирайте створені нами образи,створюйте свої, 
                обговорюйте унікальне пошиття, декор, розписи на тканині, зовнішій світ відображає глибоку унікальність.
                Наші творчі курси націлені на творчий креативний розвиток , створюйте красу в цей світ.
            </p>
        </div>
    </div>
    
    <div class="box"> 
        <a><img class="oneph" src="{% static 'images/box.svg' %}"></a>
    </div>
{% endblock %}