{% extends 'base.html' %}

{% load static %}

{% block title %}
    OZHINA
{% endblock %}

{% block content %}

    <div class="ozhinabig">
        <a><img src="{% static 'images/OZHINA.png' %}"></a>
    </div>
    <div class="box"> 
        <a><img class="oneph" src="{% static 'images/box.png' %}"></a>
    </div>
    <div class="tex">
        <div class="text">
            <p class="textp">
                Virtual workshop for image reproduction. 
                Each person is unique and with  imagination, paper, color and lines, 
                we represent your individuality. Choose the images we create or create own. 
                Implement ideas in a unique tailoring, decor, painting on fabric, pattern. 
                We believe that the inner deep world reflects the outer uniqueness. 
                Our intensive creative courses are aimed at creative development - create beauty in this world.
            </p>
        </div>
    </div>
{% endblock %}