{% extends 'base.html' %}

{% load static %}

{% block title %}
    Order
{% endblock %}

{% block content %}
    <div class="formblock">
        <form action="." method="post" enctype="multipart/form-data">
            <div class="formorder">
                <h1 class="headingform">Make an order</h1>
                <div class="message">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <a class="{{ message.tags }}">
                                    {{ message|safe }}
                                </a>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ order_form.as_p}}
                {% csrf_token %}
                <div class='centerbut'>
                    <button>
                        <a class="apply"> apply </a>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}