{% extends 'base.html' %}

{% load static %}

{% block title %}
    Order
{% endblock %}

{% block content %}
    <div class="formblock">
        <form action="." method="post" enctype="multipart/form-data">
            <div class="formorder">
                <h1 class="">Make an order</h1>
                {{ order_form.as_p}}
                {% csrf_token %}
                <!--<a><input type='submit' value='Замовити' /></a>-->
                <button>
                    <img  src="{% static 'images/create.svg' %}">
                </button>
                <p class="orderp">I agree with processing my personal data in accordance with the law of Ukraine.</p>
            </div>
        </form>
    </div>
{% endblock %}