{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="tex">
        <div class="text">
            <p class="textp"> Віртуальна майстерня з відтворення образів.
                Кожна людина індивідуальна і за допомогою фантазії, бумаги та пари кольорів, можна відобразити її унікальність.
                Здійсніть це за різними напрямками- обирайте створені нами образи,створюйте свої, 
                обговорюйте унікальне пошиття, декор, розписи на тканині, зовнішій світ відображає глибоку унікальність.
                Наші творчі курси націлені на креативний розвиток , створюйте красу в цей світ.
            </p>
        </div>
    </div>

{% endblock %}