{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="texblock">
        <div class="texpolitical">
            <div class="politicaltext">
                <p class="politicaltextp"> Політика обробки персональних даних<br><br>
                    1. Визначення <br>
                    1.1.<br>
                    Сторони визнають, що всі терміни та поняття, що використовуються у цьому
                    документі, будь-які додатки та доповнення до нього, для цілей належного
                    виконання обов'язків, якщо інше прямо не передбачено, тлумачаться 
                    відповідно до наведеного нижче змісту.<br>
                    Оператор – оператор, який здійснює обробку персональних даних,
                    відомості про які вказані в останньому розділі Політики.
                    Користувач – фізична особа, яка надає персональні дані,
                    що набуває (отримує) Послуги або бажаючий їх придбати (отримати).<br>
                    Політика – справжня політика конфіденційності.<br>
                    Сайт – сайт Оператора (включаючи піддомени та внутрішні сторінки),
                    розташований у мережі Інтернет за адресою: http://ozhina.com, за допомогою
                    якого Користувач звертається за наданням Послуг, отримує результат
                    послуг.<br>
                    Сторони – Оператор та Користувач.<br>
                    Послуги — збірний термін, який передбачає реалізацію товарів
                    (робіт, послуг) Користувачам із застосуванням Сайту, а також всі інші
                    супутні дії, пов'язані з реалізацією товарів (робіт, послуг),
                    виконанням інших зобов'язань, передбачених законом. «Послуги» також
                    включають виконання всіх інших зустрічних дій щодо
                    Користувача, у тому числі (але не обмежуючись назвою): інформаційні,
                    консультаційні послуги, послуги з навчання, тренінги, інші суміжні послуги,
                    визначені публічною офертою, розміщеною на Сайті.<br>
                    Термін «Послуги» застосовується для зручності і не може оцінюватися в тому
                    сенсі, що надається положеннями Цивільного кодексу України. Детальна інформація про товари може міститися на
                    відповідних веб-сторінках Сайту або визначатися офертою
                    Оператора (за її наявності).<br><br>
                    2. Загальні положення<br>
                    2.1.<br>
                    Ця Політика визначає порядок надання, формування,
                    обробки та зберігання персональних даних, що повідомляються Користувачами в
                    цілях надання Послуг чи інших цілях, передбачених Політикою.<br>
                    2.2.
                    Ця Політика регулює відносини з моменту її прийняття
                    Користувачем в результаті процедури здійснення замовлення Послуги
                    шляхом заповнення відповідної форми, розміщеної на Сайті чи його
                    піддоменах, що свідчить про прийняття умов цієї Політики,
                    або шляхом скоєння інших аналогічних процесів.<br>
                    2.3.<br>
                    Приймаючи умови Політики, Користувач погоджується на будь-які способи
                    обробки своїх персональних даних, включаючи будь-яку дію (операцію) або
                    сукупність дій (операцій), що здійснюються з використанням коштів
                    автоматизації або без використання таких засобів із персональними даними,
                    у тому числі збирання, запис, систематизацію, накопичення, зберігання, уточнення
                    (оновлення, зміна), вилучення, використання, передачу (розповсюдження,
                    надання, доступ), знеособлення, блокування, видалення, знищення
                    персональних даних у встановлених цією Політикою цілях.<br>
                    2.4.<br>
                    Обробка персональних даних Користувача здійснюється з дотриманням
                    державного закону від 30.03 2021 року № 1357-IX «Про персональні дані» та
                    інших нормативно-правових актів, регулюючих захист персональних даних.<br>
                    2.5.<br>
                    Персональні дані Користувача, що стосуються расової приналежності,
                    політичних поглядів, релігійних та філософських переконань, стану
                    здоров'я, інтимного життя не виходять та не обробляються.<br>
                    2.6.<br>
                    Обробку організовано Оператором на принципах:<br>
                    ● законності та справедливості;<br>
                    ● обробки лише персональних даних, які відповідають цілям їх
                    обробки;<br>
                    ● відповідності змісту та обсягу оброблюваних персональних
                    даних заявленим цілям обробки;<br>
                    ● неприпустимість об'єднання баз даних, що містять персональні
                    дані, обробка яких здійснюється в цілях, несумісних
                    між собою;<br>
                    ● забезпечення точності персональних даних, їх достатності, а в
                    необхідних випадках актуальності по відношенню до цілей обробки
                    персональних даних Оператор вживає необхідні заходи або
                    забезпечує їх прийняття щодо видалення або уточнення неповних або
                    неточних даних;<br>
                    ● зберігання персональних даних у формі, що дозволяє визначити
                    Користувача не довше, ніж цього вимагають цілі обробки
                    персональних даних;<br>
                    2.7.<br>
                    До персональних даних за змістом цього Положення можуть належати:
                    ПІБ, телефон, e-mail, параметри тіла, місце проживання (місце доставки
                    замовлення), платіжні реквізити, адреси, відомості про соціальні мережі, засоби
                    обміну електронними повідомленнями та інша інформація, необхідна для
                    надання Послуг, а також інші дані про Користувача відповідно до
                    Державного закону від 30.03 2021 року № 1357-IX «Про персональні дані»,
                    які вказані чи повідомлені Користувачем самостійно.<br><br>
                    3. Отримання даних користувача<br>
                    3.1.<br>
                    Оператор суворо дотримується принципів конфіденційності. Користувач
                    погоджується, що Оператор може зберегти кілька загальних рівнів.
                    інформації про відвідування Сайту:<br>
                    3.1.1.<br>
                    Перший рівень інформації включає статичну та іншу
                    аналітичну інформацію, зібрану на основі засобів інтеграції
                    зі сторонніми ресурсами (наприклад: IP-адреса, тип і використовуваний
                    браузер, інформацію про операційну систему комп'ютера, версія
                    програми, мовні налаштування та демонстровані сторінки. Також
                    дані, що ідентифікують мобільний пристрій Користувача, його
                    специфічні налаштування та характеристики, інформацію про
                    широту/довготу.<br>
                    3.1.2.<br>
                    Другий рівень інформації - особиста чи персональна інформація осіб,
                    направлена   на адресу Оператора.<br>
                    3.2.<br>
                    Персональна інформація буде використана Оператором виключно в
                    наступних цілях:<br>
                    ● Надання Послуг;<br>
                    ● Використання Сайту;<br>
                    ● Надання технічної, інформаційної підтримки у зв'язку з
                    використанням Сайту, надання Послуг;<br>
                    ● Усунення недоліків, виявлених під час надання Послуг;<br>
                    ● Підвищення якості надання Послуг;<br>
                    ● Взаємодія між Сторонами;<br>
                    ● Надання постачальницьких, збутових, юридичних, фінансових,
                    інформаційно-консультаційних та маркетингових послуг;<br>
                    ● Оплата Послуг;<br>
                    ● Здійснення рекламної, новинної та інформаційної розсилки.
                    Виконання інших зобов'язань, покладених на Оператора законом або
                    договором (зокрема положеннями публічної оферти):<br>
                    3.3.<br>
                    При доступі користувача мережі Інтернет до Сайту на пристрій, який використовується для доступу, можуть бути записані файли cookies, які в
                    надалі будуть використані для.<br>
                    3.3.1.<br>
                    Автоматичної авторизації Користувача на Сайті, а також
                    для збирання статистичних даних про Користувачів.<br>
                    3.3.2.<br>
                    Реалізації відносин щодо надання Оператором даних
                    з cookies третім особам для здійснення такими особами
                    діяльності по показу Користувачам таргетованих рекламних та
                    інформаційних матеріалів у мережі Інтернет та/або для цілей надання
                    такими особами інших послуг Користувачеві.<br>
                    3.3.3.<br>
                    Реалізація інших Сайтом технічних дій, необхідних для
                    зручності Оператора та Користувача<br>
                    3.4.<br>
                    Фактично використовуючи Сайт Користувач погоджується з тим, що Оператор
                    може збирати та обробляти дані з cookies з метою, які передбачені Політикою, а також здійснювати передачу таких даних третім особам у
                    випадках, перерахованих у Політиці.<br><br>
                    4. Передача даних третім особам<br>
                    4.1.<br>
                    Оператор може передавати персональні дані Користувача
                    третім особам (у тому числі, але не обмежуючись, будь-яким кур'єрам та
                    транспортним компаніям, платіжним системам, банкам,
                    субпідрядникам, субагентам тощо) з метою надання Послуг, якщо такі
                    особи залучені Оператором, а також працівникам Оператора без
                    додаткової згоди Користувача.<br>
                    4.2.<br>
                    Треті особи, які залучаються, не мають права використовувати персональні
                    дані Користувача у своїх цілях або інших цілях, не пов'язаних з
                    наданням Послуг.<br>
                    4.3.<br>
                    Оператор може передавати персональні дані Користувача
                    третім особам в інших випадках, коли така передача допускається без
                    згоди Користувача чи є обов'язковою в силу закону.<br><br>
                    5. Зберігання персональних даних<br>
                    5.1.<br>
                    Персональні дані Користувача зберігаються в електронному вигляді
                    протягом терміну надання Послуг, а також протягом терміну, необхідного для
                    досягнення цілей обробки персональних даних. За потреби
                    зберігання персональних даних може здійснюватися на паперових
                    носіях чи в іншій формі, що допускається законодавством України.<br>
                    5.2.<br>
                    У разі закінчення строку дії або розірвання договору з
                    Користувачем здійснюється блокування персональних даних
                    Користувача відповідно до вимог законодавства
                    України.<br>
                    5.3.<br>
                    Відповідно до вимог законодавства України
                    знищення персональних даних Користувача здійснюється після
                    припинення підстав для їх збереження. Знищення персональних
                    даних Користувача до закінчення зазначеного терміну може бути
                    виконано на підставі письмової заяви Користувача.<br><br>
                    6. Заключне становище<br>
                    6.1.<br>
                    Персональні дані Користувача підлягають захисту від
                    несанкціонованого доступу та розповсюдження відповідно до внутрішніх правил та регламентів.<br>
                    6.2.<br>
                    Захист персональних даних Користувача забезпечується:<br>
                    ● запобіганню несанкціонованому доступу до оброблюваних
                    персональних даних Користувача;<br>
                    ● запобіганню несанкціонованим діям з модифікації,
                    спотворенню, розповсюдженню, блокуванню, знищенні
                    оброблюваних персональних даних Користувача;<br>
                    ● забезпеченням конфіденційності оброблюваних персональних даних Користувача.
                    До заходів щодо захисту персональних даних може належати;<br>
                    ● призначення особи, відповідальної за організацію обробки персональних даних, та особи, відповідальної за забезпечення безпеки персональних даних;<br>
                    ● розробка та затвердження локальних актів з питань обробки та захисту персональних даних;<br>
                    ● застосування правових, організаційних та технічних заходів щодо забезпечення безпеки персональних даних;<br>
                    ● визначення загроз безпеки персональних даних при їх обробці в інформаційних системах персональних даних;<br>
                    ● застосування організаційних та технічних заходів щодо забезпечення безпеки персональних даних при їх обробці в інформаційних системах персональних даних, необхідні вимоги виконання до захисту персональних даних, виконання яких забезпечує встановлені Урядом України рівні захищеності персональних даних;<br>
                    ● застосування процедури оцінки в установленому порядку до відповідності засобів захисту інформації;<br>
                    ● оцінка ефективності вжитих заходів щодо забезпечення безпеки персональних даних до введення в експлуатацію інформаційної системи персональних даних;<br>
                    ● облік машинних носіїв персональних даних, якщо зберігання персональних даних складають машинні носії;<br>
                    ● виявлення фактів несанкціонованого доступу до персональних даних та вжиття заходів щодо недопущення подібних інцидентів надалі;<br>
                    ● відновлення персональних даних, модифікованих або знищених внаслідок несанкціонованого доступу до них;<br>
                    ● встановлення правил доступу до персональних даних, що обробляються в інформаційній системі персональних даних, а також забезпечення реєстрації та обліку всіх дій, що здійснюються з персональними даними в інформаційній системі персональних даних;<br>
                    ● контроль за вживаними заходами щодо безпеки персональних даних та рівнем захищеності інформаційних систем персональних даних;<br>
                    ● оцінка шкоди, яка може бути заподіяна Користувачам у випадку порушення вимог Закону, співвідношення зазначеної шкоди та вжитих Оператором заходів, спрямованих на забезпечення виконання обов'язків, передбачених Законом;<br>
                    ● дотримання умов, що унеможливлюють несанкціонований доступ до матеріальних носіїв персональних даних та які забезпечують збереження персональних даних;<br>
                    ● ознайомлення працівників, безпосередно Оператора, що здійснюють обробку персональних даних з положеннями законодавства України про персональні дані, у тому числі з вимогами до захисту персональних даних, локальними актами щодо питанням обробки та захисту персональних даних, та навчання працівників:<br>
                    6.3.<br>
                    Конкретні заходи щодо захисту персональних даних визначаються Оператором
                    самостійно з урахуванням існуючих локальних нормативних актів.<br>
                    6.4.<br>
                    У будь-якому випадку Оператор зобов'язаний вжити такі заходи для захисту конфіденційності персональних даних:<br>
                    ● розробка та затвердження локальних актів з питань обробки та захисту персональних даних; застосування правових, організаційних та технічних заходів щодо забезпечення безпеки персональних даних;<br>
                    ● виявлення фактів несанкціонованого доступу до персональних даних та вжиття заходів щодо недопущення подібних інцидентів надалі;<br>
                    ● відновлення персональних даних, модифікованих або знищених внаслідок несанкціонованого доступу до них;<br>
                    ● контроль за вживаними заходами щодо безпеки персональних даних та рівнем захищеності інформаційних систем персональних даних;<br>
                    ● дотримання умов, що унеможливлюють несанкціонований доступ до матеріальних носіїв персональних даних та які забезпечують безпеку персональних даних:<br><br>
                    7. ЗАКЛЮЧНІ ПОЛОЖЕННЯ<br>
                    7.1.<br>
                    Ця Політика може бути змінена в односторонньому порядку без Попереднього повідомлення Користувача.<br>
                    7.2.<br>
                    Нова редакція Політики набирає чинності з її розміщенні на Сайті.<br>
                    7.3.<br>
                    До прав та обов'язків Сторін завжди застосовується Політика у новій редакції, якщо інше не випливає із характеру правовідносин. Нова редакція Політики поширюються на раніше чинні правовідносини
                    між Оператором та Користувачем.<br>
                    7.4.<br>
                    У всьому іншому, не врегульованому Політикою, Сторони керуються законодавством України.<br>
                    7.5.///<br>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

