{% extends 'base.html' %}

{% load embed_video_tags %}
{% load static %}

{% block title %}
    Product
{% endblock %}

{% block content %}

    <div class="flexctprod">
        <span class="user">
            <div class="prodbox">
                <h1 class="prodboxon">{{ product.name_collection }}</h1>
                <p class="prodboxtwo">{{ product.category }}</p>
            </div>
            <div class="gdimgctproduct">
                <div class="ctproduct">
                    <div class="gridbuttonon"></div>
                    <div class="prodcoll">
                        {% for images in image %}
                            <div class="gridnamproduct">
                                <a href=""><img class="imgpr1" src="{{images.image.url}}"></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="gridbuttonon"></div>
                </div>
            </div>
            <div class="prodboxthree">
                <div class="prodboxthr">
                    {% video product.video '100% x 520' %}
                    <p class="prodboxfor">{{ product.description }}</p>
                </div>
            </div> 
    </div>


{% endblock %}