{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    Create new account
{% endblock %}

{% block content %}

    <div class="signupbox">
        {% if not form.is_valid %}
            <div>
                <br>
                <h1 class="text-center"> Create a new account </h1>
                <br>
                <div>
                    <br>
                    <p> Please input the following information to create a new account </p>
                    <form method="post">
						{% csrf_token %}
						<p>{{ form | crispy }}</p>
						<button type="submit" name="button">SignUp</button>
					</form>
                </div>
            </div>
        {% else %}
        <div class="mx-auto">
			<br>
			<h1 class="text-center">
				Your account has been successfully created
			</h1>
			<br>
			<div>
				<p>Your account has been created and ready to use!</p>
				<br>
				<a href="{% url 'home' %}">Continue</a>
			</div>
		</div>    
        {% endif %}
    </div>

{% endblock %}