{% extends 'base.html' %}

{% load static %}

{% block title %}
    Teach
{% endblock %}


{% block content %}
    <div class="teach">
        <div class="teachbox">
            <a><img class="immind" src="{% static 'images/mind.png' %}"></a>
            <div class="teachboxtext">
                <p class="teachtext">Unleash your talents</p>
                <div class="teachicreate" >
                    <div class="glow-on-hover" >
                        <a class="teachicreate" href="{% url "teach_created" %}"> <img  src="{% static 'images/teach_created.svg' %}"> </a>
                    </div>
                </div>
                <p class="teachtextwo">we only provide individual lessons</p>
                <p class="teachtext">choose direction</p>
            </div>
        </div>
    </div>
    <div class="boxpic">
        {% for col in collage %}
        <div class= "collage">
            <div class= "collageblock">
                <div><img class="collageimage"  src="{{ col.image.url }}"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="boxpic">
        <div class="course">
        {% for tea in list %}
            <div class = "boxcourseinf">
                <div class = "boxcourses">
                    <div class = "boxcoursestwo" >
                        <div class="courseflex">
                            <a class="coursename" > {{tea.name}} </a>
                            <a class="coursenameon" > {{tea.alive}} </a>
                            <a class="coursenameon" > {{tea.online}} </a>
                            <a class="courseabout"> {{tea.about}} </a>
                        </div> 
                    </div>
                </div>
            </div>  
        {% endfor %}
        </div>
    </div>
    <div class="course">
        <p class="teachtext">languages: укр рус eng </p>
    </div>

    <footer>
        {% load static %}
        <div class="ozhinafooter">
            <div class="pfooter">
                <a class="polit" href="{% url "political" %}"><p >Privacy policy</p></a>
            </div>
            <div class="pfooter">
                <h3>Suggestions</h3>
                <p class="ozfter" >ozhina.inc@gmail.com</p>
            </div>
            <div class="pfooter">
                <h3>Communication</h3>
                <p class="ozfter" >+38097 191 1367</p>
                <img class="ozfim" src="{% static 'images/masseges.png' %}">
            </div>
            <div class="ozfooter">
                <img src="{% static 'images/ozhinasmall.svg' %}">
                <p class="lead_text"> copyright &copy; 2021 OZHINA </p>
            </div>
        </div>
    </footer>

{% endblock %}

