{% extends "base.html" %}

{% block title %}
     Увійти
{% endblock %}

{% block content %}
    <div class="logdiv">
        <h1 class="hh1">Увійти</h1>
        {% if form.errors %}
            <p>Ваше ім’я користувача та пароль не збігаються. Повторіть спробу.</p>
        {% else %}
            <p>Будь ласка, використовуйте наступну форму для входу.
                Якщо у вас немає облікового запису, <a href="{% url "register" %}">реєстрація тут.</a>
            </p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Увійти"></p>
            </form>
            <p><a href="{% url "password_reset" %}">Забули свій пароль?</a></p>
        </div>
    </div>
{% endblock %}