{% extends "base.html" %}

{% load static %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <div class="logdiv">
        <div class="hh1">
            <h1 class="">Log in</h1>
            {% if form.errors %}
                <p>Your username and password do not match. Please try again.</p>
            {% else %}
                <p>Please use the following login form.</p>
                <p>If you do not have an account    <a href="{% url "register" %}"><img  src="{% static 'images/reg.svg' %}"></a>
                </p>
            {% endif %}
            <div class="login-form">
                <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button>
                        <img class='formip' src="{% static 'images/create.svg' %}">
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}