{% extends "base.html" %}

{% load static %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <div class="logdiv">
        <div class="hh1">
            <h1 class="login">Log in</h1>
            
            <div class="login-form">
                <form action="{% url 'login' %}" method="post">
                    {{ form.non_field_errors }}
                            {{ form.username.errors }}
                            <a  for="{{ form.username.id_for_label }}">Username:</a>
                            <a class="form-input">{{ form.username }}</a>
                            {{ form.password.errors }}
                            <a  for="{{ form.password.id_for_label }}">Password:</a>
                            <a class="form-input">{{ form.password }}</a>
                    {% csrf_token %}
                    
                    <button>
                        <a class="apply"> apply </a>
                    </button>
                </form>
            </div>
            {% if form.errors %}
                <p>Your username and password do not match. Please try again.</p>
            {% else %}
                <p>Please use the following login form.</p>
                <p>If you do not have an account </p> 
                <a class="apply" href="{% url "register" %}"><img  src="{% static 'images/reg.svg' %}"></a>
                
            {% endif %}
        </div>
    </div>
{% endblock %}