{% extends "base.html" %}

{% load static %}

{% block title %}
    Change your password
{% endblock %}

{% block content %}
    <div class="logdiv">
        <h1 class="hh1">Change your password</h1>
        <p>Use the form to change your password.</p>
            <form action="." method="post">
            {{ form.as_p }}
            <button>
                <img class='formip' src="{% static 'images/create.svg' %}">
            </button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}