{% extends "base.html" %}

{% block title %}
    Скинути пароль
{% endblock %}

{% block content %}
    <div class="logdiv">
        <h1 class="hh1">Скинути пароль</h1>
        {% if validlink %}
            <p>Будь ласка, введіть двічі новий пароль:</p>
            <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Змінити пароль" /></p>
            </form>
        {% else %}
            <p>Посилання на скидання пароля було недійсним, можливо тому що воно вже використовувалося. Змініть новий пароль.</p>
        {% endif %}
    </div>
{% endblock %}