{% extends 'base.html' %}

{% load static %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="logdiv">
        <div class='hh1'>
            <h1>Create a new account</h1>
            <p>Use forms</p>
            <form action="." method="post">
                {{ user_form.as_p }}
                {% csrf_token %}
                    <button>
                        <img class='formip' src="{% static 'images/create.svg' %}">
                    </button>
            </form>
        </div>
    </div>
{% endblock %}