
.addb {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.addform {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    padding-top: 17%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    color: cornsilk;
}
.add {
    
    padding-left: 5%;
}
.add1 {
    width: 100%;
    margin-left: 5%;
    padding-left: 5%;

}
.add2 {
    
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.addimg {
    width: 60%;
}

.p2get1 {
    color: rgb(102, 102, 102);
}