
.addb {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(7, 0, 37);
}
.addform {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    padding-top: 17%;
    padding-bottom: 10%;
    width: 100%;
    color: cornsilk;
}
.add {
    
    padding-left: 5%;
}
.add1 {
    margin-left: 5%;
    padding-left: 5%;
    background-color: rgb(255, 0, 0);
}
.add2 {
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.addimg {
    width: 60%;
}

.p2get1 {
    color: purple;
}