.ozhinafooter {
    display: flex;
    justify-content:baseline;
    color: rgb(85, 85, 85);
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 46%;
}
.lead_text {
    font-size: 8;
}
.pfooter {
    
    padding-left: 20px;
    padding-right: 20px;
    color: dimgray;
}
.ozfooter {
    padding-right: 30px;
}
.ozfter {
    padding-top: 10px;
    padding-bottom: 5px;
    color: floralwhite;
}