.dressed{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 60px;
}

.row {
    padding-top: 150px;
    padding-bottom: 60px;
    justify-content: center;
    color: rgb(104, 104, 104);
    display: flex;
    background-color: rgb(11, 0, 19);
    box-shadow: 10px 10px 20px rgb(10, 0, 14);
    
}

.sphr {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 25;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    
}
.us11 {
    margin-left: 35px;
    text-decoration: none;
}
.rowon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.rowtwo {
    justify-content: center;
    display: flex;
}

.acategory {
    color: rgb(58, 58, 58);
    text-decoration: none;
    margin: 0 5px;
    font-size: 17px;
}
.acategory:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 20px 20px rgb(255, 255, 255);
}

.acategory:focus{
    color: rgb(207, 207, 207);
    text-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255);
}
.userblock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 100px;
    height: 75px;
}

.glow-on-hover {
    cursor: pointer;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,#ff0000, #ff0000,#ffdcc0, #ff7300, #fffb00,#ffffff, #48ff00,#ffffff, #c3f1ff, #00ffd5, #002bff, #a200ff, #ff00c8, #ff0000);
    position: absolute;
    background-size: 600%;
    z-index: -1;
    filter: blur(20px);
    position: absolute;
    top: -10px;
    left:-10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 100%;
;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 100%;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    2% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.usrprofon {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    font-size: 19px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    
    text-shadow: 1px 0 5px rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    
}
.usrprof {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    
}

.getcolbox {
    margin-top: 120px;
    padding: 0 20px;
}

.getcolbox>div{
    display: flex;
    justify-content: space-between;
}
.uss {
    width: auto;
    height: 75px;
    display: flex;
    align-items: center;
}

.imgcoll {
    color: rgb(226, 226, 226);
    width: 60%;
}

.container{
    display: flex;

    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.cont{
    display: flex;
    width: 160px; 
    
}

.line{
    width: 10px;
    background-color: white;
    box-shadow: 0px -20px 20px rgb(255, 255, 255),0 0 0.6em rgb(255, 255, 255);
}

.links{
    width: 150px;
}

.picts{
    width: 100%;
}

.descs{
    display: block;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(255, 255, 255),0 0 0.6em rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.links img{
    width: 100%;
}

.line_image>a>img{
    width: 100%;
}

.create {
    width: 35%;
}
.createon {
    margin-bottom: 31px;
}
.h2get {
    padding-bottom: 3%;
    color: rgb(204, 204, 204);
}
.p2get {
    color: rgb(97, 97, 97)
}



