

.ozhinabig {
    display: flex;
    justify-content: center;
    padding-top: 291px;
    padding-bottom: 30%;
    width: 100%;
    background-color: rgb(253, 253, 253);
}

.texblock {
    display: flex;
    align-items: center;
    background-color: rgb(23, 0, 34);
    padding-top: 20%;
}

.tex {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 14, 4);
    box-shadow: 20px 0px 70px rgb(0, 14, 4),0 0 0.6em rgb(0, 14, 4);
    text-shadow: 10px 0px 30px rgb(255, 255, 255),0 0 0.6em rgb(255, 255, 255);
}
.texpolitical {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 0, 17);
    text-shadow: 10px 0px 30px rgb(255, 255, 255),0 0 0.6em rgb(255, 255, 255);
}
.text {  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding-top: 17px;
    padding-bottom: 20%;
    font-size: 15;
}

.politicaltextp {
    font-size: 17;
    color: rgb(255, 255, 255);
    text-shadow: 10px 0px 30px rgb(255, 255, 255),0 0 0.6em rgb(255, 255, 255);
}
.box {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    padding-left: 351px;
    padding-right: 351px;
    background-color: rgb(15, 0, 19);
    color: cornsilk;
}
