
.teachbox {
    padding-top: 300px; 
}
.boxpic{
    display: flex;
    justify-content: center;
    width: 100%;
}

.boxcourses {
    padding-left: 5%;
    padding-left: 5%;
}

.titleteach {
    text-decoration: none;
    font-size: 21;
    font-weight: bold;
    color: rgb(131, 131, 131);
    
}

.cop {
    font-size: 21;
    font-weight: bold;
    color:rgb(255, 255, 255);
}
.copq {
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 51;
    color:rgb(255, 255, 255);
}
.course {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.329);
}

.boxcourseinf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 7px;
    margin-right: 7px;
    width: 460px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.623);

}

.boxnar {
    display: flex;
    flex-direction: row;
    margin-right: 19px;
    margin-top: 21px;

}
.boxhar {
    display: flex;
    flex-direction: column;
}
.coursename {
    font-size: 31;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.coursenameon {
    font-size: 18;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: rgb(255, 46, 46);
}
.boxteachab {
    font-size: 15;
    padding-bottom: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
    
}
.boximage {
    width: 80%;
}

canvas {
    display: block;
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 1100px;
    z-index: 1;
    background:hsl(0, 0%, 100%);
  }
canvas { 
    position: absolute;
    z-index: -1;
  }