{% extends 'base.html' %}

{% load static %}

{% block title %}
    Cart
{% endblock %}

{% block content %}

    {% if not cart_items %}
    <div class='cartb'>
        <h2 class=''>Немає замовлення</h2>
        <a href="{% url "getdressed" %}"><p class='cartp1' > Обирайте ідеї </p></a>
    </div>
    {% else %}
    <div class='cartb'>
        <div class='cartbok'>
            <h2 class=''>ЗАМОВИТИ</h2>
            <h2 class=''><p class='cartp1'> Загальна сумма </p></h2>
            <h2 class='' href="{% url "getdressed" %}">Додати ще</h2> 
        </div>
    </div>
    {% endif %}
    {% if cart_item in cart_items %}
    <div class='cartbon'>
        <h2 class='carth22'>ВИДАЛИТИ</h2>
        <div class='cartim'>
            <a src=""><img class="cartimage" src="{"></a>
        </div>
        <div class='cartinf'>
            <h2 class='carth2'><p class='cartp1'> автор ідеї </p></h2>
            <h2 class='carth2'><p class='cartp1'> консультаційних годин </p></h2>
            <h2 class='carth2'><p class='cartp1'> документ для відшиву </p></h2>
            <h2 class='carth2'><p class='cartp1'> ціна за віртуальний аватар </p></h2>
        </div>
        <h2 class='carth21'></h2>   
    </div>
    {% endif %}
    </div>
    

{% endblock %}